/*
-Deben ser elementos por default que lucirán igual en todo el sitio, Es .
-Ningún estilo de estos elementos selectores deberá usar !important.
-No usar selectores tipo class o id.
*/

	
a
	text-decoration none
	transitionBase()
	&:hover
		text-decoration none
		color $Rojobbb
		
	img
		border 0
	
body
	background-color $Azulbbb
	color $Gris
	font-size 1.3em
button
	transitionBase()
		&:hover
			margin-top 1rem
			color $Rojobbb

a,
h1,
h2,
h3,
label,
p
	transitionBase()
	color white
	font-family $Roboto
img
	transitionBase()
li
	transitionBase()
	display inline-block
	list-style none
ul
	transitionBase()
	padding 0
svg
	path, polygon, circle
		transitionBase()
			
		