//se pueden declarar con funciones
// make-prefix-column(num)
// make-prefix-column-offset(num)


.column-ex
	make-xs-column(12)
	make-sm-column(6)
	make-md-column(4)
	make-lg-column(3)
.articulo-descripcion-actividad, .columna-form1, .columna-form2
	make-xs-column(12)
	make-sm-column(6)
	make-md-column(6)
// .content-destino
// 	make-xs-column(12)
// 	make-md-column(3)
// 	make-md-column-offset(3)
// 	make-lg-column(6)
// 	make-lg-column-offset(6)