//se pueden declarar con funciones
// make-prefix-column(num)
// make-prefix-column-offset(num)


.column-ex
	make-xs-column(12)
	make-sm-column(6)
	make-md-column(4)
	make-lg-column(3)
	
.content
	&-article
		make-xs-column(12)
		make-md-column(8)
		make-md-column-offset(2)
		
	&-terminos-parrafo,
	&-terminos-titulo
		make-xs-column(12)
		make-md-column(8)
		make-md-column-offset(2)
	&-terminos-parrafos
		make-xs-column(12)
		make-md-column(8)
		make-md-column-offset(2)
	&-footer-lista
		make-xs-column(12)
	&-thumbs-art
		make-xs-column(12)
		make-md-column(10)
		make-lg-column(8)
		make-md-column-offset(1)
		make-lg-column-offset(2)
	&-descripcion-video,
	&-video
		make-xs-column(12)
		make-md-column(6)
		make-md-column-offset(3)
	&-redes
		make-xs-column(12)
		make-md-column(3)
		make-lg-column(2)
		make-md-column-offset(4)
		make-lg-column-offset(5)
	&-form
		make-xs-column(12)
		make-md-column(6)
		make-lg-column(4)
		make-md-column-offset(3)
		make-lg-column-offset(4)
.columna
	&-uno,
	&-dos
		make-xs-column(12)
		make-md-column(4)
		make-md-column-offset(6)
.estoy
	&-blanco,
	&-rojo
		make-xs-column(8)
		make-md-column(4)
		make-md-column-offset(4)
	
.nav
	&-left,
	&-right
		make-xs-column(12)
		make-sm-column(12)
		make-md-column(4)
		make-lg-column(4)
	&-right
		make-lg-column-offset(8)
		
.navegacion
	make-xs-column(12)
	make-sm-column(12)
	make-md-column(12)
	make-lg-column(12)
	
.thumb-instagram
	make-md-column(4)
	make-lg-column(4)
	
// .row
// 	make-row()
// 	max-width 1110rem