#btn-play
	cursor pointer
	&:hover
		path
			fill lighten($Azulbbb, 30%)
			border-color lighten($Azulbbb, 30%)
		circle
			stroke lighten($Azulbbb, 30%)
.content
	&-video
		&:before, &:after
			&:hover
				border-color lighten($Azulbbb, 30%)
				color lighten($Azulbbb, 30%)
.form.alertas
	display none
	background-color $Rojobbb
	color white
	margin 0
	padding 1rem 2rem
.form.alertas
	&.active
		display block
.overlay-items
	position fixed
	background-color black
	width 100%
	height 100%
	z-index 5
	opacity 0.5
.msn-place
	background-color $Rojobbb
	color white
	padding 1rem 2rem
.msn-place
	&:nth-of-type(5)
		position absolute
.l-acepta-terminos
	width 100%
	margin-top 0
	p
		margin-top 0
.thumb-content-instagram
	height 24rem
	overflow hidden
.redes-desk
	li
		&:hover
			svg
				path,
				polygon
					fill lighten($Azulbbb, 30%)
.redes
	li
		&:hover
			svg
				path,
				polygon
					fill $Rojobbb