.logo
	&-bbb,
	&-colombina,
	&-clear
		// background-image url("../images/logos-f-bbb.png")
		span
			path('logos-f-bbb.png')
			display block
			background-repeat no-repeat
			color transparent
			height 6rem