/*

En este archivo se declaran funciones que se vayan a utilizar

*/

//path images
path(img)
	background-image url("../images/"+img)

transitionBase(el = all ,tiempo = 0.3s, curve = ease-in-out)
	transition el tiempo curve