*
	&:focus
		outline 0
html, body
	min-height 76.8rem
	height 76rem
	height 100vh
	overflow-x hidden
div.msn-place
	font-family Arial
	font-size 1.5rem
	color $Azul

.row
	make-row()
	margin 0 auto
	max-width $SiteWidth //medida de la caja fija del diseño general
	padding-left 10px
	padding-right @padding-left
.ancla-terminos
	color $Naranja
	&:hover
		color lighten($Naranja, 20%)	
.bgimg
	position absolute
	width 100%
.btn-reservar
	background-color rgba(0,0,0,0.5)
	border solid 0.2rem white
	color white
	display block
	left 50%
	padding 0.3rem 1rem
	position absolute
	top 50%
	transform translate(-50%, -50%)
	z-index 3
	&:hover
		border-color darken($Naranja, 40%)
		color lighten($Naranja, 40%)
	&:focus
		border-color lighten($Naranja, 40%)
		color lighten($Naranja, 40%)
		text-decoration none
.boton-validar-placa,
.boton-actualizar-datos,
.continuar-actividad 
	width 100%
.content-logos
	height 6rem
.cabezote-fijo
	border 0 
	height 6rem
	margin 0
	padding 0
	position fixed
	width 100%
	z-index 8
.container
	text-align center
	z-index 10
.continuar-actividad, .boton-validar-placa, .button-actualizar-datos 
	display block
	margin 0 auto
	
.content-validar-placa
	padding-top 4rem
.content-actualizar-datos
	padding-top 4rem
.columna-form1
	padding-top 5rem
	font-size 2rem
.content-destino
	padding-top 5rem
	font-size 2rem
	overflow hidden
.columna-form2
	font-family Arial
	margin 1.5rem 0
	input[type="checkbox"]
		display inline-block
		width 3rem
		vertical-align top
	label
		cursor pointer
		display inline-block
		font-size 1.5rem
		line-height 1.5rem
		width 80%
	span
		color $Naranja
	div.msn-place
		display inline-block
		padding-left  3rem

.img-restelar
	max-width 17.6rem
	min-width 14rem
	width 50%
	vertical-align top
.item-imagen
	position relative
.item-destino
	border-bottom dotted dashed 0.5rem white
	border-left 0
	border-right 0
	border-style dotted solid dashed
	border-top 0
	float left
	padding-bottom 2rem
	position relative
.item-imagen
	margin 0 auto
	display block
		
.items-destinos
	width 100%
	min-height 30rem
	height 100%
	margin-top 2rem
	min-width 30rem
	.titulo-item
		padding 1rem
		text-shadow 0 0 1.1px black
		height 5.8rem
.item-imagen
	border solid 0.3rem white
	border-radius 50%
	height 19rem
	overflow hidden
	width 19rem
	z-index 2
	.tumb-hotel
		left 0
		max-height 30rem
		max-width 30rem
		object-fit cover
		position relative
		top 0
.form
	&.alertas-placas,
	&.alertas-actualizar
		display none
		&.active
			background-color $Azul
			color white
			display block
			height 3rem
			font-size 2rem
			margin 0 auto
			text-align center
	&.alertas-placas
		&.active
			width 100%
	&.alertas-actualizar
		width 100%

.mascara-img-manzanillo
	bottom 0
	height 50vh
	overflow hidden
	pointer-events none
	position absolute
	width 100%
	
.manzanillo
	bottom -90%
.logo-estatico
	position fixed
.logo-a-rodar-por-colombia.form
	width 100%
	#arptc
		display block
		margin 0 auto
#arptc
	width 80%
.ocultar-seccion
	display none
.moto-bmw,
.moto-pie,
.piso,
.piso-pie,
.puerta-metalica-dere,
.puerta-metalica-izq
	bottom 0
	left 0
	position absolute
.piso, .manzanillo, .piso-pie
	z-index -3
.prev, .next
	font-size 1.5rem
	margin 2rem
.moto-bmw, .moto-pie
	z-index -2

.puerta-metalica
	&-dere,
	&-izq
		z-index -1
.parrafo-descripcion-actividad, .texto-validar-placa
	font-size 2rem
.seccion-oculta
	display none
.titular
	&-logo-estelar, &-logo-bmw
		margin 0
		width 100%
	&-logo-bmw
		float right
.titulo-descripcion-actividad
	border-style dotted solid dashed
	border-top 0
	border-left 0
	border-right 0
	border-bottom dotted solid dashed 0.5rem white
	margin 1rem
	padding 1rem 0
	font-size 4rem
.titulo-placa
	font-size 4rem
.logo-bmw
	text-align right
.logo
	&-estelar, 
	&-bmw
		float left
		margin 0
		padding 0
		width 50%
.campo-validar-placa
	text-align  center
	font-size 2rem
	margin 1rem 0
.visible
	display block
.vp
	box-sizing border-box
	float left
	height 76rem
	height 100vh
	padding 0
	position relative
	width 100%
	width 99vw
	
	// &.formulario, &.destino
	// 	height 100vh