*
	&:focus
		outline 0
html, body
	min-heght 76.8rem
	height 100vh
	overflow-x hidden
.row
	make-row()
	margin 0 auto
	max-width $SiteWidth //medida de la caja fija del diseño general
	padding-left 10px
	padding-right @padding-left
.ancla-terminos
	color $Naranja
	&:hover
			color lighten($Naranja, 20%)
		
.bgimg
	position absolute
	width 100%
.btn-reservar
	border solid 0.2rem white
	display block
	color white
	padding 0.3rem
	position absolute
	z-index 3
	top 50%
	left 50%
	transform translate(-50%, -50%)
	&:hover
		border-color darken($Naranja, 40%)
		color lighten($Naranja, 40%)
	&:focus
		border-color lighten($Naranja, 40%)
		color lighten($Naranja, 40%)
		text-decoration none
.content-logos
	height 6rem
.cabezote-fijo
	border 0 
	height 6rem
	margin 0
	padding 0
	position fixed
	width 100%
	z-index 8
.container
	text-align center
	z-index 10
.continuar-actividad, .boton-validar-placa, .button-actualizar-datos 
	display block
	margin 0 auto
.columna-form1
	div.msn-place
		font-family Arial
		font-size 2rem
		color $Naranja
// .columna-form2
// 	font-family Arial
// 	line-height 1.7rem
// 	position absolute
// 	bottom 0
// 	right 0
.columna-form2
	font-family Arial
	input[type="checkbox"]
		display inline-block
		width 3rem
		vertical-align top
	label
		display inline-block
		cursor pointer
	span
		color $Naranja
	div.msn-place
		color $Naranja
		display inline-block
		font-family Arial
		font-size 2rem
.img-restelar
	max-width 27.6rem
.item-imagen
	position relative
.item-destino
	border-bottom dotted dashed 0.5rem white
	border-left 0
	border-right 0
	border-style dotted solid dashed
	border-top 0
	float left
	padding-bottom 2rem
	position relative
.items-destinos
	width 100%
	margin-top 2rem
	min-width 30rem
	.titulo-item
		padding 1rem
		text-shadow 0 0 1.1px black
		height 5.8rem
		// .selecionar-hotel
		// 	text-shadow 0 0 1px black
		// 	color white
.item-imagen
	border solid 0.3rem white
	border-radius 50%
	height 19rem
	overflow hidden
	width 19rem
	.tumb-hotel
		left 0
		max-height 30rem
		max-width 30rem
		object-fit cover
		position relative
		top 0

.mascara-img-manzanillo
	bottom 0
	height 50vh
	overflow hidden
	pointer-events none
	position absolute
	width 100%
	
.manzanillo
	bottom -90%
.logo-estatico
	position fixed
.overlay-reserva
	display none
	&.active
		display block
		background-color black
		height 100%
		left 0
		opacity 0.5
		position absolute
		top 0
		width 100%
.ocultar-seccion
	display none
.moto-bmw,
.moto-pie,
.piso,
.piso-pie,
.puerta-metalica-dere,
.puerta-metalica-izq
	bottom 0
	left 0
	position absolute
.piso, .manzanillo, .piso-pie
	z-index -3
.prev, .next
	font-size 1.5rem
	margin 2rem
.moto-bmw, .moto-pie
	z-index -2
.puerta-metalica
	&-dere,
	&-izq
		z-index -1
.seccion-oculta
	display none
.titular
	&-logo-estelar, &-logo-bmw
		margin 0
.titulo-descripcion-actividad
	border-style dotted solid dashed
	border-top 0
	border-left 0
	border-right 0
	border-bottom dotted solid dashed 0.5rem white
	padding 3rem 0
.logo-bmw
	text-align right
.logo
	&-estelar, 
	&-bmw
		float left
		height 6rem
		margin 0
		padding 0
		width 50%
.form
	&.alertas-placas,
	&.alertas-actualizar
		display none
		&.active
			background-color $Azul
			color white
			display block
			height 3rem
			font-size 2rem
			margin 0 auto
			text-align center
	&.alertas-placas
		&.active
			width 50%
	&.alertas-actualizar
		width 100%
// .selecionar-hotel
// 	cursor pointer
// 	display block
// 	z-index 2
// 	&.imagen
// 		position absolute
// 		top 0

.visible
	display block
.vp
	box-sizing border-box
	float left
	height 100vh
	padding 0
	position relative
	width 99vw
	
	&.formulario, &.destino
		height 100vh