// landscape tablets
@media (max-width: 1024px) and (max-height: 768px) and (orientation:landscape)
	.articulo-descripcion-actividad, .logo-a-rodar-por-colombia
		float left
		margin-top 15%
		width 50%
	.articulo-descripcion-actividad
		border-right solid 0.5rem white
		padding-right 2rem
	.boton-validar-placa, .continuar-actividad
		max-width 20rem
	.campo-validar-placa
		font-size 3rem
		width 20rem
	.cabezote-fijo
		position fixed
	.content-destino
		margin-left 30%
		margin-top 10%
		width 70%
	.content-elegir-destino
		height 100vh
	.copy-footer
		text-align right
	.img-restelar
		width 50%
	.items-destinos
		height 60vh
	.item-imagen
		height 13rem
		width 13rem
	.form.from-actualizar-datos
		height 100vh
		padding-top 10%
	.moto-bmw
		left -5%
	.moto-pie
		left -20%
	.titulo-destino
		text-align left
	.bgimg.manzanillo
		bottom -80%
	.puerta-metalica-dere
		left -18%
	.titulo-descripcion-actividad
		font-size 6rem
		margin-top 3rem
	.texto-validar-placa
		display block
		margin 0 auto
		margin-top 15%
		max-width 30rem
	.parrafo-descripcion-actividad
		font-size 3rem

@media (min-width: 320px)
	html, body
		overflow auto
	.columna-form2
		padding-top 2rem
		label
			font-size 1.5rem
			width 84%
	.desplegar-info
		display none
		margin 1rem auto
		&.unactive
			display none
	.bgimg.manzanillo
		bottom 0%
	.logo-estatico
		display none
		.llenar-formulario
			display block
			top 10%
			width 100%
	#arptc
		width 70%

	.boton-validar-placa,
	.continuar-actividad
		padding 0.5rem
		padding 0.5rem
		width 100%
	.boton-validar-placa
		margin-top 2rem
	.bgimg.manzanillo
		bottom 0
	.boton-actualizar-datos
		display block
		margin 1rem auto
		&.active
			display block
	.columna-form2
		#arptc
			display none
	.cabezote-fijo
		height 10rem
		position fixed
	.content-destino
		font-size 2rem
		margin-left 0		
		width 100%
	.form.from-actualizar-datos
		font-size 2rem
		padding-top 0
	.form.from-actualizar-datos.active
		background-color black
		display block
		font-size 2rem
		height 95vh
		overflow scroll
		width 100%
	.img-restelar
		top 0
		vertical-align top
		width 15rem
	.item-imagen
		display block
		height 10rem
		margin 0 auto
		width 10rem
	.items-destinos
		height 56vh
		overflow hidden
	.parrafo-descripcion-actividad, .texto-validar-placa
		font-size 2rem
	.texto-validar-placa
		margin-top 0
	.titulo-descripcion-actividad
		font-size 3rem
		margin-top 0rem
		padding-bottom 1rem
		padding-top 0
	.titulo-placa
		font-size 6rem
	.campo-validar-placa
		height 4rem
		text-align center
@media (min-width: 768px) and (orientation:portrait)
	.boton-validar-placa, .continuar-actividad
		height 6.5rem
		font-size 3rem

	.campo-validar-placa
		height 6.5rem
	.content-destino
		font-size 3rem
	.form.from-actualizar-datos
		height 100vh
		font-size 2.5rem
	.items-destinos
		height 65vh
	.item-imagen
		height 15rem
		width 15rem
	.titulo-item
		font-size 3rem
	.titulo-descripcion-actividad
		font-size 6rem
	.titulo-placa
		font-size 9rem
	.parrafo-descripcion-actividad, .texto-validar-placa
		font-size 4rem
	.logo-a-rodar-por-colombia
		margin 0 auto
		width 80%
@media (min-width: 1024px)
	.desplegar-info
		display none
	.boton-actualizar-datos
		display block
	.bgimg.manzanillo
		bottom -129%
	.columna-form2
		#arptc
			display block
			margin 0 auto
			width 45%
		label
			font-size 1.1rem
	.logo-estatico
		display block
		#arptc
			display block
			margin 0 auto
		&.inicial
			left 52%
			top 21%
			width 40%
			animation-duration 1s
		&.validar-placa
			bottom 15%
			left 15%
			width 18%
		&.llenar-formulario
			animation-duration 2s
			left 53%
			top 15%
			width 40%
			&.ocultar-logo-llenar-formulario
				display block
		&.elegir-hotel
			left 6%
			top 15%
			width 28%
		&.inicial, &.validar-placa, &.llenar-formulario, &.elegir-hotel
			transitionBase()
	.logo-a-rodar-por-colombia
		opacity 0
	.articulo-descripcion-actividad, .logo-a-rodar-por-colombia
		float left
		margin-top 15%
		width 50%
	.articulo-descripcion-actividad
		border-right solid 0.5rem white
		padding-right 2rem
	.img-restelar
		width 50%
	.boton-validar-placa, .continuar-actividad
		max-width 20rem
	.campo-validar-placa
		width 20rem
		font-size 3rem
	.cabezote-fijo
		position fixed
	.content-destino
		margin-top 10%
		margin-left 30%
		width 70%
	.content-elegir-destino
		height 100vh
	.copy-footer
		text-align right
	.items-destinos
		height 60vh

	.item-imagen
		width 13rem
		height 13rem
	.form.from-actualizar-datos
		height 100vh
		padding-top 10%
	.moto-bmw
		left -5%
	.moto-pie
		left -20%
	.titulo-destino
		text-align left
	.bgimg.manzanillo
		bottom -80%
	.puerta-metalica-dere
		left -18%
	.titulo-descripcion-actividad
		font-size 6rem
		margin-top 3rem
	.texto-validar-placa
		display block
		margin 0 auto
		margin-top 15%
		max-width 30rem
	.parrafo-descripcion-actividad
		font-size 3rem
@media (min-width: 1280px)
	.columna-form2
		bottom 52%
@media (min-width: 1173px) and (max-width: 1370px), (min-height: 548px) and (max-height: 768px)
	.articulo-descripcion-actividad,
	.logo-a-rodar-por-colombia
		margin-top 5% !important
	.bgimg.manzanillo
		bottom -129%
	.campo-validar-placa
		width 23rem !important
	.texto-validar-placa
		margin-top 1%
	.moto-bmw
		margin-left -15%
	.logo-estatico 
		&.validar-placa
			margin-left 50%
		&.llenar-formulario
			left 60%
			top 8%
			width 18%
		&.elegir-hotel
			left 9%
			width 23%
	.form.from-actualizar-datos
		padding-top 0%
	.moto-pie
		width 80%
@media (min-width: 1370px)
	.texto-validar-placa
		padding-top 10%
	.logo-estatico
		display block
		#arptc
			display block
			margin 0 auto
		&.inicial
			left 52%
			top 15%
			width 27%
		&.validar-placa
			bottom 15%
			left 15%
			width 18%
		&.llenar-formulario
			top 15%
			left 56%
			width 16%
		&.elegir-hotel
			top 15%
			left 17%
			width 20%
@media (min-width: 1370px)
		.btn-reservar
			font-size 2rem
@media (max-width: 736px) and (max-height: 414px) and (orientation:landscape)
	.articulo-descripcion-actividad, .logo-a-rodar-por-colombia
		width 50%
		float left
		margin-top 0
		border-right 0
	.campo-validar-placa
		width 100%
	.continuar-actividad, .boton-validar-placa
		max-width 100%
	.copy-footer
			text-align center
	.items-destinos
		height 44vh
		margin-top 0.5rem
@media (width: 720px) and (max-height: 1080px) and (orientation:portrait)
	.articulo-descripcion-actividad, .texto-validar-placa
		padding-top 15%
	.cabezote-fijo
		position fixed
	.campo-validar-placa
		height 10rem
		font-size 6rem
	.content-destino
		padding-top 15%
		font-size 4rem
	.copy-footer
		text-align right
	.boton-validar-placa, .continuar-actividad, .boton-actualizar-datos
		font-size 6rem
	.img-restelar
		width 80%
	.items-destinos
		height 65vh
	.item-imagen
		height 17rem
		width 17rem
		
	.form.from-actualizar-datos
		height 30rem
		padding-top 15%
		&.active
			font-size 4rem
	.titulo-descripcion-actividad, .titulo-placa
		font-size 6rem
	.titulo-item
		font-size 3rem
	.parrafo-descripcion-actividad, .texto-validar-placa
		font-size 3rem
// iphone 7
@media (width: 750px) and (max-height: 1334px) and (orientation:portrait)
	*
		font-size none
	.articulo-descripcion-actividad, .texto-validar-placa
		padding-top 15%
	.cabezote-fijo
		position fixed
	.campo-validar-placa
		height 10rem
		font-size 6rem
	.content-destino
		padding-top 15%
		font-size 4rem
	.copy-footer
		text-align right
	.boton-validar-placa, .continuar-actividad, .boton-actualizar-datos
		font-size 6rem
	.img-restelar
		width 80%
	.items-destinos
		height 65vh
	.item-imagen
		height 17rem
		width 17rem
		
	.form.from-actualizar-datos
		height 30rem
		padding-top 15%
		&.active
			font-size 4rem
	.titulo-descripcion-actividad, .titulo-placa
		font-size 8rem
	.titulo-item
		font-size 3rem
	.parrafo-descripcion-actividad, .texto-validar-placa
		font-size 5rem
// desde IPAD PRO
@media (min-width: 1366px) and (max-height: 1024px)
	.articulo-descripcion-actividad, .logo-a-rodar-por-colombia
		margin-top 20%
	.boton-validar-placa,
		font-size 4rem
		height 6rem
		max-width 50rem
	.boton-actualizar-datos
		font-size 4rem
		height 8rem
		max-width 50rem
	.continuar-actividad
		font-size 4rem
	.content-destino
		font-size 3rem
	.campo-validar-placa
		font-size 4rem
		height 6rem
		padding 1rem
		width 50rem
	.item-imagen
		width 15rem
		height 15rem
	.form.from-actualizar-datos.active
		background-color transparent
		font-size 3rem
	.titulo-descripcion-actividad, .titulo-placa
		font-size 8.5rem
	.titulo-item
		font-size 2.5rem
	.parrafo-descripcion-actividad, .texto-validar-placa
		font-size 4rem
	.texto-validar-placa
		max-width 60rem
@media (min-width: 1400px)
	.articulo-descripcion-actividad, .logo-a-rodar-por-colombia
		margin-top 10%
	.bgimg.manzanillo
		bottom -116%
	.boton-validar-placa
		max-width 50rem
	.img-restelar
		width 27.6rem
	.item-imagen
		height 10rem
		width 10rem
	.form.from-actualizar-datos
		font-size 2.5rem
		padding-top 5%
	.moto-pie
		bottom -10%
	.texto-validar-placa
		margin-top 0
		font-size 3rem
	.titulo-item
		font-size 2.5rem
	.titulo-placa
		font-size 5rem
	.puerta-metalica-izq, .puerta-metalica-dere, .moto-bmw
		bottom -15%