@media(min-width: 320px)
	.content-destino
		padding-top 1.2rem
	.logo-estatico
		#arptc
			display none
	.logo-a-rodar-por-colombia.form
		#arptc
			display none
	.item-imagen
		width 10rem
		height 10rem		
@media (max-width: 480px) and (max-height: 320px) and (orientation:landscape)
	.titulo-descripcion-actividad
		font-size 3rem
	.parrafo-descripcion-actividad
		font-size 1.5rem
@media (max-width: 1024px) and (max-height: 768px) and (orientation:landscape)
	.articulo-descripcion-actividad, .logo-a-rodar-por-colombia
		float left
		margin-top 2rem
		width 50%
	.articulo-descripcion-actividad
		border-right solid 0.5rem white
	.columna-form1,
	.columna-form2
		float left
		margin-top 2rem
		width 50%
	.boton-validar-placa,
	.boton-actualizar-datos,
	.continuar-actividad 
		display block
		margin 1rem auto
		width 50%
	.campo-validar-placa
		width 50%
@media(min-width: 520px)
	.columna-form1
		padding-top 0rem
		font-size 1.5rem
	.columna-form2
		label
			font-size 1rem
	.content-actualizar-datos
		padding-top 0
@media(min-width: 728px)
	.item-imagen
		width 14rem
		height 14rem
@media(min-width: 768px)
// aqui el hover en desktop
	.item-destino
		.btn-reservar
			opacity 0
		&:hover
			.btn-reservar
				opacity 1
	.manzanillo
		bottom -160%
	.articulo-descripcion-actividad
		border-right solid 0.5rem white
		width 50%
	.boton-validar-placa,
	.boton-actualizar-datos,
	.continuar-actividad 
		width 50%
	.bgimg
		&.puerta-metalica-izq,
		&.puerta-metalica-dere,
		&.moto-bmw
			bottom -13%
		&.puerta-metalica-dere,
		&.moto-bmw
			left -20%
	.campo-validar-placa
		width 50%
	.content-validar-placa
		padding-top 1rem
	.content-elegir-destino
		margin-left 30%
		width 70%
	.columna-form1
		padding-top 0rem
		font-size 1.5rem
	.columna-form2
		label
			font-size 1rem
	.logo-estatico
		display block
		#arptc
			display block
			margin 0 auto
		&.inicial
			animation-duration 1s
			left 50%
			top 5%
			width 40%
		&.validar-placa
			bottom 15%
			left 63%
			width 18%
		&.llenar-formulario
			animation-duration 2s
			opacity 0
			left 53%
			top 15%
			width 40%
			&.ocultar-logo-llenar-formulario
				display block
		&.elegir-hotel
			left 10%
			top 9%
			width 15%
		&.inicial, &.validar-placa, &.llenar-formulario, &.elegir-hotel
			transitionBase()
	.logo-a-rodar-por-colombia
		display inline-block
		width 36%
		&.inicio
			opacity 0
		#arptc
			opacity 1
		&.form
			#arptc
				display block
	.texto-validar-placa
		display block
		margin 0 auto
		width 50%
	.parrafo-descripcion-actividad,
	.texto-validar-placa
		padding-top 0rem
	.logo-a-rodar-por-colombia.form
		width 100%
		#arptc
			width 48%
	.item-imagen
		height 12rem
		width 12rem
		
	.bgimg.moto-pie
		left -20%
		bottom -10%
	
@media(min-width: 873px)
	div.msn-place
		font-size 0.8rem
	.logo-estatico
		&.inicial
			animation-duration 1s
			left 50%
			top 5%
			width 41%
	.content-actualizar-datos
		padding-top 1rem
	.columna-form1
		padding-top 0rem
		font-size 1.5rem
	.columna-form2
		label
			font-size 1rem
	// .content-elegir-destino
	// 	margin-left 50%
	// 	width 50%		
	.boton-actualizar-datos
		background-color rgba(0,0,0,0.2)
		display block
		margin 1rem auto
	.form.alertas-placas
		&.active
			width 50%
	.form.alertas-actualizar
		&.active
			font-size 1.5rem
			padding 0.1rem
			height 2.3rem

@media(min-width: 1082px)
	.logo-estatico
		&.inicial
			left 50%
			top 5%
			width 19%
	.content-elegir-destino
		margin-left 30%
		width 70%
@media(min-width: 1152px)
	.logo-a-rodar-por-colombia
		&.form
			#arptc
				display block
				opacity 1
@media(min-width: 1300px)
	.logo-estatico
		&.inicial
			left 55%
			top 12%
			width 20%
	.content-descripcion-actividad
		padding-top 6%
	.titulo-descripcion-actividad
		font-size 6rem
	.content-validar-placa
		padding-top 6%
	.columna-form1
		font-size 1.8rem
	.content-elegir-destino
		font-size 2rem




	
