//Header
header.content-logos
	div.cabezote-fijo
		div.logo-estelar
			h1.titular-logo-estelar
				+image('estelar-logo.png', 'ESTELAR')(class="img-restelar")
		div.logo-bmw
			h1.titular-logo-bmw
				+image('bmw-logo.png', 'BMW Motorrad')(class="img-restelar")