//Menu
div.container-items
	include ../includes/estoyhechode.svg
	i.glyphicon.glyphicon-arrow-left
	ul.nav-left
		li.item.videos
			a(href="videos.html", rel="tag") VIDEOS

		li.item.productos
			a(href="producto.html", rel="tag") PRODUCTO
	ul.nav-right
		li.item.terminos
			a(href="terminos.html", rel="tag") TÉRMINOS Y CONDICIONES

		li.item.contacto
			a(href="contacto.html", rel="tag") CONTACTO
	ul.redes
		li.red-facebok
			a(href="https://www.facebook.com/BBBum/", rel="nofollow", target="_blank")
				include ../includes/facebook-01.svg
		li.red-instagram
			a(href="https://www.instagram.com/bonbonbumoficial/", rel="nofollow", target="_blank")
				include ../includes/instagram-02.svg
		li.red-youtube
			a(href="https://www.youtube.com/user/canalbonbonbum", rel="nofollow", target="_blank")
				include ../includes/youtube-03.svg
div.overlay-items

///-Menu