//-Layout Base
extends ../templates/base.pug

//-Etiqueta Title
block title
	title Contacto

//-Etiqueta Metadescription
block description
	meta(name="description", content="Contacto" )

block content
	section.container-fluid.container-formulario
		div.row
			form#form.content-form
				div.form
					h1.titulo-contacto Contacto
					div.form.alertas
						p Tu mensaje 
							span.mensaje-alerta
					div.form.form-nombre
						label(for="nombre") Nombre
						input(type="text", id="nombre", name="nombre")
					div.form.form-email
						label(for="email") Email
						input(type="email", id="email", name="email" )
					div.form.form-numero
						label(for="numero") Número
						input(type="number" id="numero", name="numero" min="0", minlength="7" )
					div.form.form-mensaje
						label(for="mensaje") Mensaje
						textarea(id="mensaje", name="mensaje" )
					div.form.form-aceptar
						input(type="checkbox" id="aceptar" name="aceptar" )
						label(for="aceptar" class="l-acepta-terminos")
							p.aceptar-terminos Acepto términos y condiciones

						button.btn.btn-submit(type="submit") Enviar
			ul.redes-desk.content-redes
				li.red-desk-facebook
					a(href="https://www.facebook.com/BBBum/", rel="nofollow", target="_blank")
						include ../templates/includes/facebook-01.svg
				li.red-desk-instagram
					a(href="https://www.instagram.com/bonbonbumoficial/", rel="nofollow", target="_blank")
						include ../templates/includes/instagram-02.svg
				li.red-desk-youtube
					a(href="https://www.youtube.com/user/canalbonbonbum", rel="nofollow", target="_blank")
						include ../templates/includes/youtube-03.svg


block Scripts
	//-Acá se ponen js que solo vayan en ésta página
	//- scirpt
	//- 	jQuery('#form').validate();