//-Layout Base
extends ../templates/base.pug

//-Etiqueta Title
block title
	title Términos y Condiciones

//-Etiqueta Metadescription
block description
	meta(name="description", content="Términos y condiciones" )

block content
	section.container-fluid.container-terminos
		div.row
			h1.ar-terminos.content-terminos-titulo.titulo-terminos TÉRMINOS Y CONDICIONES DE LA ACTIVIDAD
			p.content-terminos-parrafos.parrafo-terminos.ar-terminos Quien participe en nuestra actividad promocional denominada “Bon Bon Bum ”EstoyHechode (en adelante “la Actividad”) admite haber leído, entendido y aceptado los siguientes términos y condiciones y está de acuerdo con sujetarse a ellos y a la legislación Colombiana aplicable vigente. Territorio: Esta Actividad estará vigente y será válida únicamente para la República de Colombia. Vigencia: La Actividad empieza el veintidós (xx) de Agosto de 2017 y termina el treinta (30) de Septiembre de 2017.
			p.content-terminos-parrafos.parrafo-terminos.ar-terminos  PRIMERO.- Requisitos y mecánica de la Actividad para poder participar: 1. Tener entre 13 y 17 años y residir en Colombia. 2. No ser empleado de Colombina S.A., sus filiales o subordinadas ni ser familiar de estos hasta tercer (3er) grado de consanguinidad o afinidad. 3. Haber cumplido con los requisitos de la Actividad. 4. Para los menores de edad participantes, cada uno deberá contar con la autorización de sus padres o representantes legales, requisito que podrá ser validado por Colombina S.A. o sus representantes, en cualquier momento de la Actividad. 5. Se deja expresa y claramente establecido que ningún menor de edad podrá ser titular del premio, por cuanto no tiene capacidad jurídica. Los premios se entregarán y activarán a nombre de un representante legal del menor ganador acreditado con la documentación respectiva. 6. En caso de que los datos enviados por un participante no puedan ser confirmados por Colombina S.A., el participante quedará por fuera y perderá el premio. 7. Colombina S.A. se reserva el derecho de realizar modificaciones o añadir anexos sucesivos sobre su mecánica y premios, siempre que estos estén justificados o no perjudiquen a los ganadores, y se comuniquen a estos debidamente.

block Scripts
	//-Acá se ponen js que solo vayan en ésta página